<h1 align="center"> Welcome to <%= @user.username -%>'s page</h1>
<div class="row">
    <div align="center" class="col">
        <%= gravatar_for(@user, size: 150) -%>
    </div>
</div>
<h4 align="center"> <%= @user.username -%>'s boards</h4>
<div class="row offset-3 col">
    <div class="center">
        <% if @user.boards.length > 0 -%>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Board Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user.boards.each do |board| -%>
                        <tr>
                            <td><%= board.title -%></td>
                            <td><%= link_to "Show", board_path(board), class: "btn btn-primary" -%>
                                <%= link_to "Edit", edit_board_path(board), class: "btn btn-info" -%>
                                <%= link_to "Delete", board_path(board), method: :delete, data: {confirm: "Are you sure you want to delete this board and it's lists?"}, class: "btn btn-danger" -%>
                            </td>
                        </tr>
                    <% end -%>
                </tbody>
            </table>
        <% end -%>
    </div>
</div>